*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: black;
}

.container {
    display: flex;
    gap: 20px;
}

.card{
    border: 3px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    width: calc(25% - 30px);
    text-align: center;
    background-color: #f9f9f9;
    margin: 10vh;
}

.card img {
    width: 20vh; 
    border-radius: 5px; 
    height: 18vh;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card p {
    margin: 10px 0;
}

button{
    background-color: #3498db;
    color: #f0f0f0;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 20px;
}

button:hover {
    background-color: #2980b9; 
    transform: scale(1.05);
}

button:active {
    background-color: #1c6699; 
}