* {
  margin: 0;
  padding: 0;
}

*::selection {
  background: rgba(255, 0, 0, 0.2);
}

body {
  background: #0f172a;
  height: 100vh;
  font-family: system-ui, sans-serif;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
}

.header {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header h1{
    margin-bottom: 10px;
}

.alert {
  padding: 0.5rem;
  background: rgba(255, 166, 0, 0.3);
  width: 38%;
  border-radius: 10px;
  border: 2px solid rgba(255, 166, 0, 0.5);
  color: rgb(255, 184, 53);
}

.container {
  background: #172032;
  height: 63vh;
  width: 70vw;
  border-radius: 20px;
  border: 2px solid #2e3a52;
  overflow: hidden;
}

.divisao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: #707ea1;
}

.codes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.span-html {
  padding: 0.4rem;
  background: rgba(0, 128, 50, 0.4);
  border-radius: 10px;
  border: 2px solid rgba(0, 128, 50, 0.6);
  color: rgb(124, 255, 124);
}

.span-css {
  padding: 0.4rem;
  background: rgba(92, 49, 128, 0.5);
  border-radius: 10px;
  border: 2px solid rgba(92, 49, 128, 0.5);
  color: rgb(210, 145, 248);
}

.code {
  background: #0c1325;
  width: 30vw;
  height: 23vh;
  border-radius: 20px;
  font-size: 1rem;
  padding: 1rem;
  color: #8fa1ce;
  display: flex;
  align-items: center;
}

.especial {
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.4);
  color: white;
  border-radius: 5px;
  padding: 0 2px;
}

.result {
  background: #212a41;
  width: 100%;
  height: 33vh;
  border-top: 2px solid #2e3a52;
}

.titles {
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #707ea1;
  padding: 1rem;
}

.condition {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #0c1325;
  margin: 0 1rem;
  border-radius: 20px;
  color: rgb(86, 83, 100);
  border: 2px solid #2e3a52;
}

.aling {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.drag {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 200px;
  position: relative;
  margin: 1rem;
}

.slots {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  pointer-events: none;
}

.slot {
  border: 3px dashed #444;
  background: rgba(255, 255, 255, 0.02);
  color: #b3b3b3;
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 10px;
  height: 130px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot:nth-child(odd) {
  background: rgba(255, 255, 255, 0.04);
}

.obj {
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
  border-radius: 10px;
  height: 140px;
  width: 200px;
  text-align: center;
  user-select: none;
  z-index: 10;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  cursor: grab;
}
