*{
  margin: 0;
  padding: 0;
}

button{
  border: none;
}

body{
  background: #05030C;
}

.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

input[type="radio"]{
  display: none;
}

.celular{
  position: relative;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(250px, 20vw, 270px);
  height: clamp(400px, 60vh, 800px);
  border-radius: 30px;
  border: 2px solid gray;
}

.screen{
  width: 95%;
  height: 97%;
  border-radius: 20px;
  overflow: hidden;
}

.cam{
  display: flex;
  justify-content:center;
  align-items: center;
  position: absolute;
  background: black;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 0px;
  z-index: 1;
}

.lente{
  width: 60%;
  height: 60%;
  background: gray;
  border-radius: inherit;
}

.section1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 50%;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  border-bottom: 2px solid gray;
}

.section2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
  height: 50%;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
  border-top: 2px solid gray;
}

.glow1{
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 60%;
  box-shadow: 0 -240px 100px gray;
  border-radius: 100%;
}

.glow2{
  position: absolute;
  top: -100px;
  width: 100%;
  height: 60%;
  box-shadow: 0 240px 100px gray;
  border-radius: 100%;
}

.bar{
  position: absolute;
  width: 50%;
  height: 5px;
  background: white;
  border-radius: 20px;
  bottom: 20px;
  transition: all .3s ease-in-out;
}

.bar:hover{
  transform: translateY(-2px);
}

.right{
  position: absolute;
  display: grid;
  right: -5px;
  top: calc(50% - 27%);
}

.increase,
.decrease{
  background: white;
  width: 3px;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
}

.power{
  background: white;
  width: 3px;
  height: 25px;
  margin-top: 22px;
}

.toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.toggle label{
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.toggle label:hover{
  transform: scale(1.1);
  border: 1.5px solid white;
}

.toggle .silver{
  background: linear-gradient(35deg, #C0C0C0, #4C4E50);
}

.toggle .gold{
  background: linear-gradient(35deg, #F6D56D, #B79906);
}

.toggle .purple{
  background: linear-gradient(35deg, #9455F4, #4A2B7A);
}

#white:checked ~ .celular .screen .section1 .glow1{
   box-shadow: 0 -240px 100px white;
}
#white:checked ~ .celular .screen .section2 .glow2{
   box-shadow: 0 240px 100px white;
}
#white:checked ~ .toggle .white{
  transform: scale(1.1);
  border: 1.5px solid white;
}

#gold:checked ~ .celular .screen .section1 .glow1{
   box-shadow: 0 -240px 100px gold;
}
#gold:checked ~ .celular .screen .section2 .glow2{
   box-shadow: 0 240px 100px gold;
}
#gold:checked ~ .toggle .gold{
  transform: scale(1.1);
  border: 1.5px solid white;
}

#purple:checked ~ .celular .screen .section1 .glow1{
   box-shadow: 0 -240px 100px #9455F4;
}
#purple:checked ~ .celular .screen .section2 .glow2{
   box-shadow: 0 240px 100px #9455F4;
}
#purple:checked ~ .toggle .purple{
  transform: scale(1.1);
  border: 1.5px solid white;
}

#silver:checked ~ .toggle .silver{
  transform: scale(1.1);
  border: 1.5px solid white;
}