*{
    margin: 0;
    padding: 0;
}

.background{
    background: rgb(224, 224, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#toggle{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    width: clamp(465px,25vw,800px);
    height: 20vh;
    background: rgb(143, 169, 248);
    border-radius: 250px;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.6),   
                4px 5px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.sun{
    position: absolute;
    left: 20px;
    width: 170px;
    height: 170px;
    background: gold;
    border-radius: 50%;
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.3),
                inset -10px -10px 10px rgba(0, 0, 0, 0.3),
                0px 0px 100px rgba(255, 255, 255, 0.8);
    z-index: 1;
    transition: all .3s;
    overflow: hidden;
}

.moon{
    position: absolute;
    width: 172px;
    height: 172px;
    background: rgb(202, 204, 211);
    border-radius: 50%;
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.3),
                inset -10px -10px 10px rgba(0, 0, 0, 0.3),
                0px 0px 100px rgba(255, 255, 255, 0.8);
    opacity: 0;
    transform: translate(170px);
    transition: all .3s;
}

.hole-1{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: rgb(77, 82, 97);
    border-radius: 50%;
    box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.hole-2{
    position: absolute;
    top: 50px;
    left: 15px;
    width: 70px;
    height: 70px;
    background: rgb(77, 82, 97);
    border-radius: 50%;
    box-shadow: inset 6px 6px 2px rgba(0, 0, 0, 0.3);
}

.hole-3{
    position: absolute;
    bottom: 30px;
    right: 40px;
    width: 30px;
    height: 30px;
    background: rgb(77, 82, 97);
    border-radius: 50%;
    box-shadow: inset 6px 6px 2px rgba(0, 0, 0, 0.3);
}

svg{
    position: absolute;
    left: -20px;
    top: -120px;
    z-index: 0;
    transition: all .3s;
}

.clouds{
    position: absolute;
    left: -20px;
    top: -120px;
    z-index: 0;
}

.stars{
    position: absolute;
    color: white;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.stars:nth-child(2){
    top: 120px;
    left: 40px;
    font-size: 1.2rem;
}

.stars:nth-child(3){
    top: 120px;
    left: 200px;
    font-size: 1.2rem;
}

.stars:nth-child(4){
    top: 60px;
    left: 80px;
    font-size: 1.3rem;
}

.stars:nth-child(5){
    top: 10px;
    left: 150px;
    font-size: 1.5rem;
}

.stars:nth-child(6){
    top: 140px;
    left: 120px;
    font-size: 1.4rem;
}

.stars:nth-child(7){
    top: 25px;
    left: 200px;
    font-size: 2rem;
    animation: sumir 0.3s alternate-reverse ease-in-out;
}

#toggle:checked ~ .background{
    background-color: rgb(22, 21, 39);
}

#toggle:checked ~ .background label{
    background-color: rgb(17, 16, 32);
}

#toggle:checked ~ .background label .sun{
    transform: translateX(260px);
}

#toggle:checked ~ .background label .stars{
    opacity: 1;
}

#toggle:checked ~ .background label svg{
    transform: translateY(134px);
}

#toggle:checked ~ .background label .sun .moon{
    opacity: 1;
    transform: translate(0px);
}

@keyframes sumir {
    0% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg) scale(0.1);
    }
}