body {
  background: rgb(85, 119, 221);
  color: white;
  font: normal 18pt Arial;
}

header,
footer {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg {
  padding: 1rem;
}

.container {
  text-align: center;
  width: 50%;
  padding: 1rem;
  border-radius: 8px;
  background: white;
  color: black;
  box-shadow: -7px 7px 0px rgba(0, 0, 0, 0.3);
}

#alinha {
  display: flex;
  justify-content: center;
}

#img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
